-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: finans_tracker
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Account`
--

DROP TABLE IF EXISTS `Account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Account` (
  `idAccount` int NOT NULL AUTO_INCREMENT,
  `name` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `saldo` decimal(15,2) NOT NULL,
  `User_idUser` int NOT NULL,
  PRIMARY KEY (`idAccount`),
  KEY `User_idUser` (`User_idUser`),
  CONSTRAINT `Account_ibfk_1` FOREIGN KEY (`User_idUser`) REFERENCES `User` (`idUser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Account`
--

LOCK TABLES `Account` WRITE;
/*!40000 ALTER TABLE `Account` DISABLE KEYS */;
/*!40000 ALTER TABLE `Account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `AccountGroups`
--

DROP TABLE IF EXISTS `AccountGroups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AccountGroups` (
  `idAccountGroups` int NOT NULL AUTO_INCREMENT,
  `name` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`idAccountGroups`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AccountGroups`
--

LOCK TABLES `AccountGroups` WRITE;
/*!40000 ALTER TABLE `AccountGroups` DISABLE KEYS */;
INSERT INTO `AccountGroups` VALUES (1,'F??lles budget'),(2,'F├ªlles budget');
/*!40000 ALTER TABLE `AccountGroups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `AccountGroups_has_User`
--

DROP TABLE IF EXISTS `AccountGroups_has_User`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AccountGroups_has_User` (
  `AccountGroups_idAccountGroups` int NOT NULL,
  `User_idUser` int NOT NULL,
  PRIMARY KEY (`AccountGroups_idAccountGroups`,`User_idUser`),
  KEY `User_idUser` (`User_idUser`),
  CONSTRAINT `AccountGroups_has_User_ibfk_1` FOREIGN KEY (`AccountGroups_idAccountGroups`) REFERENCES `AccountGroups` (`idAccountGroups`) ON DELETE CASCADE,
  CONSTRAINT `AccountGroups_has_User_ibfk_2` FOREIGN KEY (`User_idUser`) REFERENCES `User` (`idUser`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AccountGroups_has_User`
--

LOCK TABLES `AccountGroups_has_User` WRITE;
/*!40000 ALTER TABLE `AccountGroups_has_User` DISABLE KEYS */;
INSERT INTO `AccountGroups_has_User` VALUES (1,4),(2,4),(1,5),(2,5);
/*!40000 ALTER TABLE `AccountGroups_has_User` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Budget`
--

DROP TABLE IF EXISTS `Budget`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Budget` (
  `idBudget` int NOT NULL AUTO_INCREMENT,
  `amount` decimal(15,2) NOT NULL,
  `budget_date` date DEFAULT NULL,
  `Account_idAccount` int NOT NULL,
  PRIMARY KEY (`idBudget`),
  KEY `Account_idAccount` (`Account_idAccount`),
  CONSTRAINT `Budget_ibfk_1` FOREIGN KEY (`Account_idAccount`) REFERENCES `Account` (`idAccount`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Budget`
--

LOCK TABLES `Budget` WRITE;
/*!40000 ALTER TABLE `Budget` DISABLE KEYS */;
/*!40000 ALTER TABLE `Budget` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Budget_has_Category`
--

DROP TABLE IF EXISTS `Budget_has_Category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Budget_has_Category` (
  `Budget_idBudget` int NOT NULL,
  `Category_idCategory` int NOT NULL,
  PRIMARY KEY (`Budget_idBudget`,`Category_idCategory`),
  KEY `Category_idCategory` (`Category_idCategory`),
  CONSTRAINT `Budget_has_Category_ibfk_1` FOREIGN KEY (`Budget_idBudget`) REFERENCES `Budget` (`idBudget`) ON DELETE CASCADE,
  CONSTRAINT `Budget_has_Category_ibfk_2` FOREIGN KEY (`Category_idCategory`) REFERENCES `Category` (`idCategory`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Budget_has_Category`
--

LOCK TABLES `Budget_has_Category` WRITE;
/*!40000 ALTER TABLE `Budget_has_Category` DISABLE KEYS */;
INSERT INTO `Budget_has_Category` VALUES (10,33),(12,33),(21,33),(22,33),(30,33),(31,33),(28,34),(18,35),(29,35),(1,43),(4,43),(13,43),(34,43),(36,43),(37,43),(2,44),(3,44),(46,44),(33,64),(41,64),(11,65),(42,65),(44,65),(6,66),(32,66),(35,66),(39,66),(43,66),(45,66),(5,67),(38,67),(40,72);
/*!40000 ALTER TABLE `Budget_has_Category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Category`
--

DROP TABLE IF EXISTS `Category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Category` (
  `idCategory` int NOT NULL AUTO_INCREMENT,
  `name` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idCategory`),
  UNIQUE KEY `ix_Category_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Category`
--

LOCK TABLES `Category` WRITE;
/*!40000 ALTER TABLE `Category` DISABLE KEYS */;
/*!40000 ALTER TABLE `Category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Goal`
--

DROP TABLE IF EXISTS `Goal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Goal` (
  `idGoal` int NOT NULL AUTO_INCREMENT,
  `name` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `target_amount` decimal(15,2) DEFAULT NULL,
  `current_amount` decimal(15,2) DEFAULT NULL,
  `target_date` date DEFAULT NULL,
  `status` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Account_idAccount` int NOT NULL,
  PRIMARY KEY (`idGoal`),
  KEY `Account_idAccount` (`Account_idAccount`),
  CONSTRAINT `Goal_ibfk_1` FOREIGN KEY (`Account_idAccount`) REFERENCES `Account` (`idAccount`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Goal`
--

LOCK TABLES `Goal` WRITE;
/*!40000 ALTER TABLE `Goal` DISABLE KEYS */;
/*!40000 ALTER TABLE `Goal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `PlannedTransactions`
--

DROP TABLE IF EXISTS `PlannedTransactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PlannedTransactions` (
  `idPlannedTransactions` int NOT NULL AUTO_INCREMENT,
  `Transaction_idTransaction` int DEFAULT NULL,
  `name` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `amount` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`idPlannedTransactions`),
  KEY `Transaction_idTransaction` (`Transaction_idTransaction`),
  CONSTRAINT `PlannedTransactions_ibfk_1` FOREIGN KEY (`Transaction_idTransaction`) REFERENCES `Transaction` (`idTransaction`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PlannedTransactions`
--

LOCK TABLES `PlannedTransactions` WRITE;
/*!40000 ALTER TABLE `PlannedTransactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `PlannedTransactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Transaction`
--

DROP TABLE IF EXISTS `Transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Transaction` (
  `idTransaction` int NOT NULL AUTO_INCREMENT,
  `amount` decimal(15,2) NOT NULL,
  `description` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date` datetime NOT NULL,
  `type` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Category_idCategory` int NOT NULL,
  `Account_idAccount` int NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`idTransaction`),
  KEY `Category_idCategory` (`Category_idCategory`),
  KEY `Account_idAccount` (`Account_idAccount`),
  KEY `ix_Transaction_description` (`description`),
  CONSTRAINT `Transaction_ibfk_1` FOREIGN KEY (`Category_idCategory`) REFERENCES `Category` (`idCategory`),
  CONSTRAINT `Transaction_ibfk_2` FOREIGN KEY (`Account_idAccount`) REFERENCES `Account` (`idAccount`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2997 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Transaction`
--

LOCK TABLES `Transaction` WRITE;
/*!40000 ALTER TABLE `Transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `Transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `User`
--

DROP TABLE IF EXISTS `User`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `User` (
  `idUser` int NOT NULL AUTO_INCREMENT,
  `username` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`idUser`),
  UNIQUE KEY `ix_User_email` (`email`),
  UNIQUE KEY `ix_User_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `User`
--

LOCK TABLES `User` WRITE;
/*!40000 ALTER TABLE `User` DISABLE KEYS */;
/*!40000 ALTER TABLE `User` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-05 13:24:09
