-- MySQL dump 10.13  Distrib 9.4.0, for Linux (x86_64)
--
-- Host: localhost    Database: finans_tracker
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `finans_tracker`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `finans_tracker` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `finans_tracker`;

--
-- Table structure for table `Account`
--

DROP TABLE IF EXISTS `Account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Account` (
  `idAccount` int NOT NULL AUTO_INCREMENT,
  `name` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `saldo` decimal(15,2) NOT NULL,
  `User_idUser` int NOT NULL,
  PRIMARY KEY (`idAccount`),
  KEY `User_idUser` (`User_idUser`),
  CONSTRAINT `Account_ibfk_1` FOREIGN KEY (`User_idUser`) REFERENCES `User` (`idUser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Account`
--

LOCK TABLES `Account` WRITE;
/*!40000 ALTER TABLE `Account` DISABLE KEYS */;
INSERT INTO `Account` VALUES (1,'Min privat',0.00,3),(2,'Min privat (johan)',14657.63,4),(3,'F├ªlles konto (johan)',49061.84,4),(4,'Min privat (marie)',37950.72,5),(5,'Min privat (testuser)',18418.95,1),(6,'Min Konto',0.00,6),(7,'Min Konto',0.00,7),(8,'Min Konto',0.00,8);
/*!40000 ALTER TABLE `Account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `AccountGroups`
--

DROP TABLE IF EXISTS `AccountGroups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AccountGroups` (
  `idAccountGroups` int NOT NULL AUTO_INCREMENT,
  `name` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`idAccountGroups`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AccountGroups`
--

LOCK TABLES `AccountGroups` WRITE;
/*!40000 ALTER TABLE `AccountGroups` DISABLE KEYS */;
INSERT INTO `AccountGroups` VALUES (1,'F├ªlles budget');
/*!40000 ALTER TABLE `AccountGroups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `AccountGroups_has_User`
--

DROP TABLE IF EXISTS `AccountGroups_has_User`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AccountGroups_has_User` (
  `AccountGroups_idAccountGroups` int NOT NULL,
  `User_idUser` int NOT NULL,
  PRIMARY KEY (`AccountGroups_idAccountGroups`,`User_idUser`),
  KEY `User_idUser` (`User_idUser`),
  CONSTRAINT `AccountGroups_has_User_ibfk_1` FOREIGN KEY (`AccountGroups_idAccountGroups`) REFERENCES `AccountGroups` (`idAccountGroups`) ON DELETE CASCADE,
  CONSTRAINT `AccountGroups_has_User_ibfk_2` FOREIGN KEY (`User_idUser`) REFERENCES `User` (`idUser`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AccountGroups_has_User`
--

LOCK TABLES `AccountGroups_has_User` WRITE;
/*!40000 ALTER TABLE `AccountGroups_has_User` DISABLE KEYS */;
INSERT INTO `AccountGroups_has_User` VALUES (1,4),(1,5);
/*!40000 ALTER TABLE `AccountGroups_has_User` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Budget`
--

DROP TABLE IF EXISTS `Budget`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Budget` (
  `idBudget` int NOT NULL AUTO_INCREMENT,
  `amount` decimal(15,2) NOT NULL,
  `budget_date` date DEFAULT NULL,
  `Account_idAccount` int NOT NULL,
  PRIMARY KEY (`idBudget`),
  KEY `Account_idAccount` (`Account_idAccount`),
  CONSTRAINT `Budget_ibfk_1` FOREIGN KEY (`Account_idAccount`) REFERENCES `Account` (`idAccount`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Budget`
--

LOCK TABLES `Budget` WRITE;
/*!40000 ALTER TABLE `Budget` DISABLE KEYS */;
INSERT INTO `Budget` VALUES (1,7301.05,'2025-12-08',2),(2,2776.04,'2025-12-06',2),(3,9767.35,'2025-12-11',2),(4,2881.21,'2025-11-23',3),(5,7033.81,'2025-12-05',3),(6,1007.34,'2025-11-11',3),(7,3000.00,NULL,8),(8,2999.99,NULL,8),(9,4999.99,NULL,8);
/*!40000 ALTER TABLE `Budget` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Budget_has_Category`
--

DROP TABLE IF EXISTS `Budget_has_Category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Budget_has_Category` (
  `Budget_idBudget` int NOT NULL,
  `Category_idCategory` int NOT NULL,
  PRIMARY KEY (`Budget_idBudget`,`Category_idCategory`),
  KEY `Category_idCategory` (`Category_idCategory`),
  CONSTRAINT `Budget_has_Category_ibfk_1` FOREIGN KEY (`Budget_idBudget`) REFERENCES `Budget` (`idBudget`) ON DELETE CASCADE,
  CONSTRAINT `Budget_has_Category_ibfk_2` FOREIGN KEY (`Category_idCategory`) REFERENCES `Category` (`idCategory`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Budget_has_Category`
--

LOCK TABLES `Budget_has_Category` WRITE;
/*!40000 ALTER TABLE `Budget_has_Category` DISABLE KEYS */;
INSERT INTO `Budget_has_Category` VALUES (1,43),(4,43),(2,44),(3,44),(6,66),(5,67);
/*!40000 ALTER TABLE `Budget_has_Category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Category`
--

DROP TABLE IF EXISTS `Category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Category` (
  `idCategory` int NOT NULL AUTO_INCREMENT,
  `name` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`idCategory`),
  UNIQUE KEY `ix_Category_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Category`
--

LOCK TABLES `Category` WRITE;
/*!40000 ALTER TABLE `Category` DISABLE KEYS */;
/*!40000 ALTER TABLE `Category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Goal`
--

DROP TABLE IF EXISTS `Goal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Goal` (
  `idGoal` int NOT NULL AUTO_INCREMENT,
  `name` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `target_amount` decimal(15,2) DEFAULT NULL,
  `current_amount` decimal(15,2) DEFAULT NULL,
  `target_date` date DEFAULT NULL,
  `status` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Account_idAccount` int NOT NULL,
  PRIMARY KEY (`idGoal`),
  KEY `Account_idAccount` (`Account_idAccount`),
  CONSTRAINT `Goal_ibfk_1` FOREIGN KEY (`Account_idAccount`) REFERENCES `Account` (`idAccount`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Goal`
--

LOCK TABLES `Goal` WRITE;
/*!40000 ALTER TABLE `Goal` DISABLE KEYS */;
INSERT INTO `Goal` VALUES (1,'Nyt TV',44489.09,29529.98,'2026-04-26','active',2),(2,'Sommerferie',33759.28,15932.17,'2026-06-06','active',3),(3,'Ferie',10000.00,0.00,'2026-04-10','active',8);
/*!40000 ALTER TABLE `Goal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `PlannedTransactions`
--

DROP TABLE IF EXISTS `PlannedTransactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PlannedTransactions` (
  `idPlannedTransactions` int NOT NULL AUTO_INCREMENT,
  `Transaction_idTransaction` int DEFAULT NULL,
  `name` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `amount` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`idPlannedTransactions`),
  KEY `Transaction_idTransaction` (`Transaction_idTransaction`),
  CONSTRAINT `PlannedTransactions_ibfk_1` FOREIGN KEY (`Transaction_idTransaction`) REFERENCES `Transaction` (`idTransaction`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PlannedTransactions`
--

LOCK TABLES `PlannedTransactions` WRITE;
/*!40000 ALTER TABLE `PlannedTransactions` DISABLE KEYS */;
INSERT INTO `PlannedTransactions` VALUES (1,NULL,'Planlagt: T├©j',-1093.79),(2,NULL,'Planlagt: Mad & Drikke',-2162.54),(3,NULL,'Planlagt: Mad & Drikke',-4928.87),(4,NULL,'Planlagt: Sundhed',-4419.92);
/*!40000 ALTER TABLE `PlannedTransactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Transaction`
--

DROP TABLE IF EXISTS `Transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Transaction` (
  `idTransaction` int NOT NULL AUTO_INCREMENT,
  `amount` decimal(15,2) NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date` datetime NOT NULL,
  `type` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Category_idCategory` int NOT NULL,
  `Account_idAccount` int NOT NULL,
  PRIMARY KEY (`idTransaction`),
  KEY `Category_idCategory` (`Category_idCategory`),
  KEY `Account_idAccount` (`Account_idAccount`),
  KEY `ix_Transaction_description` (`description`),
  CONSTRAINT `Transaction_ibfk_1` FOREIGN KEY (`Category_idCategory`) REFERENCES `Category` (`idCategory`),
  CONSTRAINT `Transaction_ibfk_2` FOREIGN KEY (`Account_idAccount`) REFERENCES `Account` (`idAccount`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2261 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Transaction`
--

LOCK TABLES `Transaction` WRITE;
/*!40000 ALTER TABLE `Transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `Transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `User`
--

DROP TABLE IF EXISTS `User`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `User` (
  `idUser` int NOT NULL AUTO_INCREMENT,
  `username` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`idUser`),
  UNIQUE KEY `ix_User_email` (`email`),
  UNIQUE KEY `ix_User_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `User`
--

LOCK TABLES `User` WRITE;
/*!40000 ALTER TABLE `User` DISABLE KEYS */;
/*!40000 ALTER TABLE `User` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-13 12:10:54
